<div class="main-div">
  <!-- <mat-card class="example-card" *ngFor="let card of obs | async">
  <mat-card-header>

    <mat-card-title class="spacing">{{card.title}} <span><mat-icon class="editIcon" aria-hidden="false" aria-label="Edit">edit</mat-icon>
</span></mat-card-title>
    <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
    <mat-card-subtitle>{{card.text}}</mat-card-subtitle>
  </mat-card-header>


</mat-card> -->
<mat-card class="example-card">
  <mat-card-header>
    <mat-icon>add</mat-icon>
    <mat-card-title>Add a new account</mat-card-title>
  </mat-card-header>
</mat-card>
<mat-card class="example-card" *ngFor="let card of obs | async">
  <mat-card-header>
    <mat-icon>edit</mat-icon>

		<mat-card-title>{{card.title}}</mat-card-title>
		<mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
    <mat-card-subtitle>{{card.text}}</mat-card-subtitle>
	</mat-card-header>
</mat-card>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<!-- <router-outlet></router-outlet> -->
